{% extends "layout.html" %}
{% block content %}
<main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
      </div>
      <div class="col-md-8">
        <div class="content-section">
          <h3>Hello Admin</h3>
          <p class='text-muted'>
            <ul class="list-group">
                <li><a href="/admin/hocsinh">Thêm Học Sinh</a></li>
                <li><a href="/admin/lophoc">Thêm Lớp Học</a></li>
                <li><a href="/admin/giaovien">Thêm Giao Viên</a></li>
                <li><a href="/admin/lichday">Thêm Lich dạy</a></li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </main>
    

{% endblock content %}
